body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background-color: white;
}

.container {
  padding: 20px;
}

.container h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: rgb(19, 0, 112);
}

.lista-estados {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
